<template>
  <div id="app">
    <b-navbar>
      <template slot="start">
        <b-navbar-item>
          <router-link to="/">
            Home
          </router-link>
        </b-navbar-item>
      </template>
    </b-navbar>
    <main>
      <keep-alive>
        <router-view class="container"></router-view>
      </keep-alive>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        Made with <a href="https://buefy.org">Buefy</a>
      </div>
    </footer>
  </div>
</template>

<style>
  html, body, #app {
    height: 100%;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
</style>