<template>
  <div>
    <ul>
      <b-table 
        :data="hospitals"
        :loading="loading"
        striped
        hoverable
        detailed
        show-detail-icon
        detail-key="id"
      >
        <template slot-scope="props">
          <b-table-column field="name" label="Name" sortable searchable>
            <a v-if="props.row.website" :href="props.row.website">
              {{props.row.name}}
            </a>
            <template v-else>
              {{props.row.name}}
            </template>
          </b-table-column>
          <b-table-column field="location" label="Locaiton" searchable>
            {{props.row.location}}
          </b-table-column>
          <b-table-column field="bedsAvailable" label="Beds" sortable numeric>
            {{props.row.bedsAvailable}}
          </b-table-column>
          <b-table-column label="Actions">
            <div class="buttons">
              <b-button size="is-small" icon-left="pencil" tag="router-link" :to="{ name: 'hospital', params: { id: props.row.id, hospital: props.row } }">
                Edit
              </b-button>
              <b-button size="is-small" type="is-danger" icon-left="delete" @click="deleteHospital(props.row.id)">
                Delete
              </b-button>
            </div>     
          </b-table-column>
        </template>
        <template slot="detail" slot-scope="props">
          {{props.row.description}}
        </template>
      </b-table>
      <br>
      <div class="buttons is-centered">
        <b-button 
          type="is-primary" 
          icon-left="plus"
          tag="router-link"
          :to="{ name: 'hospital', params: { id: 'new' } }"
        >
          Add hospital
        </b-button>
      </div>
    </ul>
  </div>
</template>

<script>
import Api from '../api'
export default {
  name: 'home',
  data() {
    return {
      hospitals: [],
      loading: false,
      columns: [
        {field: "description", label: "Description", width: 200},
      ]
    }
  },
  created() {
    this.getHospitals()
  },
  watch: {
    '$route': 'getHospitals'
  },
  methods: {
    async getHospitals() {
      this.loading = true;
      this.hospitals = await Api.call('/hospitals');
      this.loading = false;
    },
    async deleteHospital(id) {
      this.loading = true;
      await Api.call({
        url: `/hospitals/${id}`,
        args: {
          method: 'DELETE'
        }
      });
      this.hospitals = this.hospitals.filter(h => h.id !== id);
      this.loading = false;
    }
  }
}
</script>
<style>
  .b-table .table td {
    vertical-align: middle;
  }
</style>