<template>
  <div>
    <section v-if="hospital">
      <b-field label="Name">
        <b-input v-model="hospital.name" maxlength="255" required></b-input>
      </b-field>
      <b-field label="Description">
        <b-input v-model="hospital.description" type="textarea"></b-input>
      </b-field>
      <b-field label="Location">
        <b-input v-model="hospital.location" maxlength="255"></b-input>
      </b-field>
      <b-field label="Beds available">
        <b-input v-model="hospital.bedsAvailable" type="number" min="0"></b-input>
      </b-field>
      <b-field label="Website">
        <b-input v-model="hospital.website" type="url"></b-input>
      </b-field>
      <div class="buttons is-centered">
        <b-button 
          size="is-medium" 
          icon-left="content-save" 
          :type="saved ? 'is-success' : 'is-primary'"
          :disabled="saved"
          @click="updateHospital()"
        >
          Save
        </b-button>
        <b-tooltip :label="saved ? '' : 'You have unsaved changes'">
          <b-button size="is-medium" icon-left="home" tag="router-link" :to="{ name: 'home' }">
            Back
          </b-button>
        </b-tooltip>
      </div>
    </section>
    <b-loading :active.sync="loading"></b-loading>
  </div>
</template>
<script>
import Api from '../api';
export default {
  name: 'hospital',
  data() {
    return {
      hospital: undefined,
      originalHospital: undefined,
      loading: false,
      saved: true
    }
  },
  created() {
    this.hospital = this.$route.hospital;
    if(this.hospital === undefined) {
      this.getHospital();
    }
  },
  methods: {
    async getHospital() {
      this.loading = true;
      this.hospital = await Api.call(`/hospitals/${this.$route.params.id}`);
      this.originalHospital = {...this.hospital};
      this.loading = false;
    },
    async updateHospital() {
      this.loading = true;
      this.hospital = await Api.call({
        url: '/hospitals' + (this.originalHospital.id ? `/${this.originalHospital.id}` : ''),
        args: {
          method: this.originalHospital.id ? 'PUT' : 'POST',
          body: this.hospital
        }
      });
      
      let idChanged = this.hospital.id !== this.originalHospital.id;
      this.originalHospital = {...this.hospital};
      
      this.saved = true;
      this.loading = false;
      
      if(idChanged) {
        this.$router.push({
          name: 'hospital',
          params: { 
            id: this.originalHospital.id,
            hospital: this.originalHospital
          }
        });
      }
    }
  },
  watch: {
    '$route': 'getHospital',
    hospital: {
      handler: function(newHospital) {
        if(this.originalHospital == null) return;
        for(let key of Object.keys(newHospital)) {
          if(!(
            this.originalHospital.hasOwnProperty(key) 
            && this.originalHospital[key] === newHospital[key])
          ) {
            this.saved = false;
            break;
          }
        }
      },
      deep: true
    }
  }
}
</script>
